/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #b5ceea;
}

h1 {
	color: #43436f;
	font-weight: bold;
}

.kanit-light {
	font-family: "Kanit", sans-serif;
	font-weight: 300;
	font-style: italic;
  }

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #c1d9c8;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #e9f2eb;
}

h2 {
	background-color:#5f7565;
	color: #e9f2eb;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #696779;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
